%div.topbar-wrapper
  %div.topbar{ "data-dropdown" => "dropdown" }
    %div.topbar-inner
      %div.container
        %h3= link_to "Classwhole", root_path, {:id => "logo"}
        %ul.nav
          %li= link_to "Course List", show_semester_path(Semester.first.season, Semester.first.year)
          %li= link_to "Schedule", scheduler_index_path
        %ul{ :class => "nav secondary-nav"}
          - if !current_user.is_temp?
            = render 'shared/user_nav', :current_user => current_user
          - else 
            %li= render 'shared/fb_login_button'
    %div.alert-box
