- colors = section_colors( sections )
%ul.courses
  - courses, course_section_hash = courses_from_sections( sections )
  - courses.each do |course|
    - sections = course_section_hash[course.id]
    %li.course-item
      %ul.course
        %li{:class=> "course-header #{colors[course.id]}"}
          %span.course-name= course.to_s
          %span.course-title= course.title
          %span.course-hours= "(#{course.credit_hours} hr)"
        -if nil
          %li 
            %span.title Description
            %span.data= shorten(course.description, 130)
        %ul.sections
          -if nil
            %li.header Sections
          - sections.each do |section|
            %li 
              %div
                %span{:class=>"hidden id"}=section.id
                %span{:class=>"section-type label"}= section.short_code
                -#if section.instructor
                  %span.instructor= shorten(section.instructor, 12, "..")
                -#else 
                  %span.instructor TBD
                %span.code= section.code
                -if nil
                  %span.crn= section.reference_number
                -# For online section
                - section.meetings.each do |meeting|
                  -if meeting.start_time
                    %span.time= meeting.duration_s
                  - else
                    %span.time Online / Arr
        = render :partial => 'classmates', :locals => {:course => course }

        -# Mixpanel tracking
        :javascript 
          $(document).ready( function() {
            $("ul.classmates a").click( function() {
              mpq.track( "click sidebar profile" );
            });
          });
