- colors = section_colors( sections )
%ul.courses
  - courses, course_section_hash = courses_from_sections( sections )
  - courses.each do |course|
    - sections = course_section_hash[course.id]
    %li.course-item
      %ul.course
        %li{:class=> "course-header #{colors[course.id]}"}
          %span.course-name= course.to_s
          %span.course-title= course.title
          %span.course-hours= "(#{course.hours})"
        -if nil
          %li 
            %span.title Description
            %span.data= shorten(course.description, 130)
        %ul.sections
          -if nil
            %li.header Sections
          - sections.each do |section|
            %li 
              %div
                %span{:class=>"hidden id"}=section.id
                %span{:class=>"section-type label"}= section.short_type_s
                %span.code= section.code
                %span{ :class=>"enrollment status-#{section.enrollment_status}", :title => "#{section.reason}"  }
                -if nil
                  %span.crn= section.reference_number
                - section.meetings.each do |meeting|
                  -if not meeting.instructors.empty?
                    %span.instructor= shorten(meeting.instructors[0], 12, "..")
                  -else 
                    %span.instructor TBD
                  -if meeting.start_time
                    %span.time= meeting.duration_s
                  - else
                    %span.time Online / Arr
        = render :partial => 'classmates', :locals => {:course => course }

        -# Mixpanel tracking
        :javascript 
          $(document).ready( function() {
            $("ul.classmates a").click( function() {
              mpq.track( "click sidebar profile" );
            });
          });
