- section = meeting.section
- meeting.days.each_char do |day|
  %div.schedule-block{"start-time" => simple_time(meeting.start_time), "end-time" => simple_time(meeting.end_time), :day => day }
    %div.highlight{:class=>"#{colors[section.course_id]}"}
    %span{ :class => "hidden id"}= section.id
    %span{ :class => "hidden crn" }= section.reference_number
    %span.section-code= section.code
    %span.course-name= "#{section.course_subject_code} #{section.course_number}"
    %span.course-title= section.course_title
    %span{ :class => "enrollment status-#{section.enrollment_status}", :title => "#{section.reason}"}
    %span{ :class => "section-type label"}= section.short_type_s
    %span.duration= meeting.duration_s
    %ul.hidden
      %li 
        - course = section.course
        %span.title Credit Hours
        %span.data= "#{course.credit_hours}"
      %li 
        %span.title Professor
        %span.data=# meeting.instructor
      %li 
        %span.title Description
        %span.data= shorten(course.description, 130)
