- onl_sections = remove_onl_sections( sections )
- days = meetings_by_days(sections)
%div{ :class => "mini-schedule" }
  -# 14 hour range 7am - 9pm
  -# height is 84px
  -# width is  130px, each day width is 130/5
  -# 84/14 = 6px block height
  - i = 0
  - colors = section_colors( sections )
  - days.each do |day, meetings|
    - meetings.each do |meeting|
      %div{ :class => "mini-section #{colors[meeting.section.course_id]}", 
            :style=>"top:#{ mini_meeting_top_px( meeting )}px; height: #{ mini_meeting_height_px( meeting )}px; width: #{130/5 - 1}px; left: #{i * (130/5)}px;" }
    - i += 1
