-#
-# This view is responsible for displaying a user's schedule
-# - see scheduler_helper for any unfamiliar functions
-#
- range = hour_range(sections)
- start_hour = range[0] - 1
- end_hour = range[1]
- sections_in_days = sections_by_days(sections)
= javascript_include_tag "slides.min.jquery.js"

%div{:class => "schedule-wrapper" }
  %h1= "Schedule Rank: #{rank}"
  %ul.time-label
    - for hour in (start_hour..end_hour)
      %li= print_hour(hour)
  - colors = section_colors( sections )
  - sections_in_days.each do |day_code, sections|
    %ul.schedule-day
      %li.header= print_day(day_code)
      - for hour in (start_hour..end_hour)
        %li
      - sections.each do |section|
        = render 'section', :section => section, :start_hour => start_hour, :colors => colors
