-#
-# This view is responsible for displaying a user's schedule
-# - see scheduler_helper for any unfamiliar functions
-#
- range = hour_range(sections)
- start_hour = range[0] - 1
- end_hour = range[1] + 1
- sections_in_days = sections_by_days(sections)
= javascript_include_tag "slides.min.jquery.js"

%div{:class => "schedule-wrapper" }
  %h1= "Schedule Rank: #{rank}"
  %ul.time-label
    - for hour in (start_hour..end_hour)
      %li= print_hour(hour)
  - sections_in_days.each do |day_code, sections|
    %ul.schedule-day
      %li.header= print_day(day_code)
      - for hour in (start_hour..end_hour)
        %li
      - colors = section_colors( sections )
      - sections.each do |section|
        - header_height = 34
        - top_px = section_top_px(section, start_hour) + header_height
        - height_px = section_height_px( section )
        %div.schedule-block{ :style => "top: #{top_px}px; height: #{height_px}px;", :class=>"#{colors[section.course_id]}"}
          %span.hidden= section.id
          %span.section-code= section.code
          %span.course-name= "#{section.course_subject_code} #{section.course_number}"
          %span.course-title= section.course_title
          %span{:class => "section-type label"}= section.section_type
          %span.duration= section.duration_s
