-#
-# This view is responsible for displaying a user's schedule
-# - see scheduler_helper for any unfamiliar functions
-#
-# arr_sections = 
- sections = [] if sections.nil?
- range = hour_range(sections)
- start_hour = range[0] - 1
- end_hour = range[1]
- meetings_in_days = meetings_by_days(sections)
- colors = section_colors( sections )
- all_sections = sections
- if not defined? course_page
  -course_page = false
- if @section_hints
  - section_hints_in_days = meetings_by_days(@section_hints)
- else 
  - section_hints_in_days = {}
%div{:class => "schedule-wrapper" }
  %div{:class => "schedule-content", "data-tooltip" => "" }
    %div{:class => "schedule-display" }
      %ul.time-label
        - for hour in (start_hour..end_hour)
          %li= print_hour(hour)
      - meetings_in_days.each do |day_code, sections|
        -if all_sections.empty?
          -if @user
            %h1= "#{@user.name} hasn't shared a schedule yet."
          -elsif params[:action] != "realtime" 
            %h1 Sorry, we couldn't find a schedule.
          - break
        -else
          %ul{:class => "schedule-day #{day_code}", :day => day_code }
            %li.header= print_day(day_code)
            - for hour in (start_hour..end_hour)
              %li
            - sections.each do |meeting|
              - if not meeting.start_time.nil?
                = render 'scheduler/meeting', :meeting => meeting, :start_hour => start_hour, :colors => colors
            - if section_hints_in_days[day_code]
              - section_hints_in_days[day_code].each do |section|
                %div.droppable= render 'scheduler/section', :section => section, :start_hour => start_hour, :colors => colors
    - if @user and not all_sections.empty?
      <div class="fb-comments" data-href="#{root_url.chop + scheduler_show_path(@user.id)}" data-num-posts="1" data-width="607"></div>
  = render 'scheduler/sidebar' , :sections => sections, :course_page => course_page
