-#
-# This view is responsible for displaying a user's schedule
-# - see scheduler_helper for any unfamiliar functions
-#
-# arr_sections = 
- onl_sections = remove_onl_sections(sections)
- range = hour_range(sections)
- start_hour = range[0] - 1
- end_hour = range[1]
- sections_in_days = sections_by_days(sections)
- colors = section_colors( sections )
- all_sections = sections

- if @section_hints
  - section_hints_in_days = sections_by_days(@section_hints)
- else 
  - section_hints_in_days = {}

%div{:class => "schedule-wrapper" }
  %ul.time-label
    - for hour in (start_hour..end_hour)
      %li= print_hour(hour)
  - sections_in_days.each do |day_code, sections|
    -if all_sections.empty? and onl_sections.size > 0
      %h1 This schedule has only online and arranged sections.
      - break
    -elsif all_sections.empty?
      %h1 Sorry, we couldn't find a possible schedule.
      - break
    -else
      %ul{:class => "schedule-day #{day_code}", :day => day_code }
        %li.header= print_day(day_code)
        - for hour in (start_hour..end_hour)
          %li
        - sections.each do |section|
          = render 'section', :section => section, :start_hour => start_hour, :colors => colors
        - if section_hints_in_days[day_code]
          - section_hints_in_days[day_code].each do |section|
            %div.droppable= render 'section', :section => section, :start_hour => start_hour, :colors => colors
  - if @user
    <div class="fb-comments" data-href="#{root_url.chop + scheduler_show_path(@user.id)}" data-num-posts="1" data-width="507"></div>
  = render "sidebar" , :sections => sections + onl_sections, :colors => colors
