%div.sidebar
  %a{ "data-controls-modal" => "save-modal", "data-keyboard" => "true", :class => "btn default save-schedule"} Save
  %a{ "data-controls-modal" => "register-modal", "data-keyboard" => "true", :class => "btn primary register-schedule"} Register
  %ul.courses
    - courses, course_section_hash = courses_from_sections( sections )
    - courses.each do |course|
      - sections = course_section_hash[course.id]
      %li.course-item
        %ul.course
          %li{:class=> "course-header #{colors[course.id]}"}
            %span.course-name= course.to_s
            %span.course-title= shorten(course.title, 13)
            %span.course-hours= "(#{course.hours} hr)"
          -if nil
            %li 
              %span.title Description
              %span.data= shorten(course.description, 130)
          %ul.sections
            -if nil
              %li.header Sections
            - sections.each do |section|
              %li 
                %div
                  %span{:class=>"section-type label"}= section.section_type
                  -if section.instructor
                    %span.instructor= section.instructor
                  -else 
                    %span.instructor TBD
                  %span.code= section.code
                  %span.time= section.duration_s
