- unless current_user_has_courses?
  -#%span.hint The best way to schedule classes
  %span.hint Interactive Class Scheduler
%ul
  -#%div. Type in some classes to get started
  - if current_user  
    - if not current_user.courses.empty?
      %h1= $CURRENT_SEMESTER.name
    - else
      %h1 Type classes to get started
    - for course in current_user.courses
      %li
        %a.remove-link X
        %span.code= course.to_s
        %span.title= course.title
        %span.hours= course.hours
        %span{ :class=> "hidden id"}= course.id
      -# Leave this out for now
      =#render :partial => 'classmates', :locals => { :course => course }

=render 'shared/class_search'
%div.clear
=link_to "Schedule", scheduler_new_path, :class => 'button blue schedule large'
