- unless current_user_has_courses?
  %span.hint Registering for classes made easy.
%ul
  - if current_user
    - if not current_user.courses.empty?
      %h1 Spring 2012
    - for course in current_user.courses
      %li
        = link_to("X", "#", :class=>"remove-link")
        %span.code= course.to_s
        %span.title= course.title
        %span{ :class=> "hidden id"}= course.id



= render 'shared/class_search'
