= javascript_include_tag "autocomplete"
= javascript_include_tag "user.course.list"
= javascript_include_tag "scheduler.index.js"

%div#showcase-title 
%div#content
  %div.user-course-list-wrapper
    %div.user-course-list
      = render "shared/user_course_list"
    = form_tag({:controller => :user, :action=> :add_courses}, :method => :post, :class => "hidden-course-form" ) do
      =submit_tag("Schedule", {:class => 'btn primary'})
