= javascript_include_tag "scheduler.js"
= content_for :title, "Classwhole"
= content_for :meta_description, "Classwhole is a social and interactive scheduler for UIUC. People use Classwhole to discover classes and the people in them. With drag-and-drop sections, scheduling has never been easier."

%div{"ng-controller" => "SchedulerCtrl", "ng-init" => "init(initData)"}
  = render "schedule"
  %div{"ng-show"  => "showLandingPage()", :class => "scheduler-landing"}
    %div.splash
    <div class="fb-like" data-href="http://classwhole.com" data-send="true" data-width="450" data-show-faces="true"></div>
  = render "sidebar"
  = render "schedule_canvas"

:javascript
  var initData = #{@schedule_json.to_json};
