= javascript_include_tag "autocomplete"
= javascript_include_tag "user.course.list.js"
= javascript_include_tag "scheduler.index.js"

%div#content
  %div.user-course-list-wrapper
    %div.user-course-list
      = render "scheduler/user_course_list"
    =link_to "Schedule", scheduler_new_path,:class => 'btn primary schedule'
    %div.hours
      - if current_user
        %span= current_user.total_course_hours
      - else
        %span= 0
      hrs.
