= javascript_include_tag "scheduler.js"
= content_for :title, "Classwhole - Pick a Schedule"

%div.scheduler-content
  %div#slides
    %div.slides_container
      - @possible_schedules.each do |sections|
        = render "schedule", :sections => sections
    %a{:href=>"#", :class=>"prev"}
    %a{:href=>"#", :class=>"next"}
    -if @possible_schedules.size > 1
      = render 'mini_schedule_grids'

  =render :partial=>"need_to_login", :locals => {:name => "save"}
  =render :partial=>"need_to_login", :locals => {:name => "share"}
  = render "render", :sections => current_user.schedule

:javascript
  var course_ids = #{@course_ids};
