= javascript_include_tag "scheduler.render.js"
= javascript_include_tag "scheduler.sidebar.js"
= javascript_include_tag "scheduler.js"
= content_for :title, "Classwhole - Pick a Schedule"

:javascript
  $(document).ready(function() {
    //mpq.track("Schedule created");
    init();
  });

%div.scheduler-content
  = render "schedule", :sections => @schedule
  = render "scheduler/sidebar" , :sections => @schedule
  = render "schedule_canvas"
