= javascript_include_tag "scheduler.js"

%div.scheduler-content
  %div#slides
    %div.slides_container
      - @possible_schedules.each do |sections|
        = render "schedule", :sections => sections
    %a{:href=>"#", :class=>"prev"}
    %a{:href=>"#", :class=>"next"}
    -if @possible_schedules.size > 1
      = render 'mini_schedule_grids'

  %div{ :id => "save-modal", :class => "modal hide" }
    %div.modal-header
      %a{ :class => "close-modal x-button"}
      %h3 Save
    %div.modal-body
      %h2 You must log in to save your schedule.
      %a= render 'shared/fb_login_button'
    %div.modal-footer
      %a{:class=>"btn primary close-modal"} Close

:javascript
  var course_ids = #{@course_ids};
