= javascript_include_tag "scheduler.render.js"
= javascript_include_tag "scheduler.sidebar.js"
= javascript_include_tag "scheduler.js"
= javascript_include_tag "autocomplete"
= content_for :title, "Classwhole"

= render "schedule", :sections => @schedule
= render "realtime.sidebar", :sections => @schedule
= render "schedule_canvas"

:javascript
  initial_schedule = #{@schedule_json};
