= javascript_include_tag "scheduler.js"
%div.scheduler-content
  %div#slides
    %div.slides_container
      - @possible_schedules.each do |sections|
        = render "schedule", :sections => sections
    %a{:href=>"#", :class=>"prev"}
    %a{:href=>"#", :class=>"next"}
    -if !@possible_schedules.empty?
      %div.mini-pagination-top
        -#%a{:href=>"#", :class=>"mini-prev"} <
        -#%a{:href=>"#", :class=>"mini-next"} >
        %div.mini-pagination-container
          %ul.mini-pagination
            - i = 1
            - @possible_schedules.each do |sections|
              - if i == 1
                %li.current
                  %a{ :href => "##{i-1}" }
                  = render 'mini_schedule', :sections => sections
              -else 
                %li
                  %a{ :href => "##{i-1}" }
                  = render 'mini_schedule', :sections => sections
              - i += 1
      %a{ :class => "btn default save-schedule"} Save
      %a{ "data-controls-modal" => "register-modal", "data-backdrop" => "static", "data-keyboard" => "true", :class => "btn primary register-schedule"} Register

  %div{ :id => "register-modal", :class => "modal hidden" }
    %div.modal-header
      %a{ :class => "close-modal x-button"}×
      %h3 Register
    %div.modal-body
      %h2#crns Your CRNs:
      %iframe{ :src => "https://webprod.admin.uillinois.edu/ssa/servlet/SelfServiceLogin?appName=edu.uillinois.aits.SelfServiceLogin&dad=BANPROD1" }
    %div.modal-footer
      %a{:class=>"btn primary close-modal"} Close

:javascript
  var course_ids = #{@course_ids};
