= javascript_include_tag "scheduler.render.js"
= javascript_include_tag "scheduler.sidebar.js"
= javascript_include_tag "scheduler.js"
- title = @user.name + "'s Spring 2012 Class Schedule"
= content_for :title, title

%div.scheduler-content
  = render "schedule", :sections => @sections
  = render :partial=>"need_to_login", :locals => {:name => "save"}
  = render "render"

:javascript
  $(document).ready( function() {
      $(".schedule-block").each( function() {
        //$(this).css("cursor", "auto");
        if( $(this).height() < 50 ) {
          $(this).find(".course-title").hide();
        }
      });

      $("#profile").find(".tooltip").tipsy({ gravity: 's'  });
  });

- if current_user.id == @user.id
  :javascript
    $(document).ready( function() {
      init();
      $("ul.friends a").click( function() {
        mpq.track("User click friend profile");
      });
    });
- else
  :javascript
    $(document).ready( function() {
      $(".schedule-block").css("cursor", "auto");
      $("ul.friends a").click( function() {
        mpq.track("Guest click friend profile");
      });
    });
