= javascript_include_tag "scheduler.js"
= content_for :title, "Classwhole"

%div.scheduler-content
  - if current_user.is_temp?
    %div.message
      %span
        %strong= @user.name
        is using
        = link_to "Classwhole", scheduler_index_path, :id => "temp-message-link2"
        = "to share #{ @user.owns } schedule with you."
      =link_to "Click here to make your own", scheduler_index_path, :id => "temp-message-link"
  %div{"ng-controller" => "SchedulerCtrl", "ng-init" => "init(#{@user.id})"}
    = render "schedule"
    = render "sidebar"
    = render "schedule_canvas"
