= javascript_include_tag "scheduler.render.js"
= javascript_include_tag "scheduler.sidebar.js"
= javascript_include_tag "scheduler.js"
- title = @user.name + "'s Spring 2012 Class Schedule"
= content_for :title, title

%div.scheduler-content
  = render "schedule", :sections => @sections
  = render :partial=>"need_to_login", :locals => {:name => "save"}
  = render "render"
  <div class="fb-comments" data-href="#{root_url.chop + scheduler_show_path(@user.id)}" data-num-posts="4" data-width="607"></div>
