= javascript_include_tag "scheduler.js"
%div.scheduler-content
  %div#slides
    %div.slides_container
      - @possible_schedules.each do |sections|
        = render "schedule", :sections => sections
    %a{:href=>"#", :class=>"prev"}
    %a{:href=>"#", :class=>"next"}
    %ul{:class => "mini-pagination"}
      - i = 1
      - @possible_schedules.each do |sections|
        - if i == 1
          %li.current
            %a{ :href => "##{i-1}" }
            = render 'mini_schedule', :sections => sections
        -else 
          %li
            %a{ :href => "##{i-1}" }
            = render 'mini_schedule', :sections => sections
        - i += 1
  =#link_to "Save", scheduler_save_path,:class => 'btn primary schedule'
