/* The Course Page */
= content_for :title, "#{@course.to_s} uiuc - #{@course.title}"
= javascript_include_tag "tabs"
= stylesheet_link_tag "tabs"
= content_for :meta_description, "#{@course.to_s} uiuc - #{@course.description}" 
 

:javascript
  window.onload = function()
      {
          init();
      };
%div.scheduler-content  
  = javascript_include_tag "course"

  -uppercase_string = @semester.season[0,1].upcase + @semester.season[1..-1] + " " + @semester.year
  -name_and_number =  @subject.code + " " + @course.number.to_s
  %div.breadcrumb  
    %div{ :itemscope => "", :itemtype=>"http://data-vocabulary.org/Breadcrumb", :class=>"container" }
      %a{:href => "#{get_previous_url(get_previous_url(request.url))}", :itemprop=>"url"}
        %span{:itemprop=>"title"} Subjects
    &#47 
    %div{ :itemscope => "", :itemtype=>"http://data-vocabulary.org/Breadcrumb", :class=>"container" }
      %a{:href => "#{get_previous_url(request.url)}", :itemprop=>"url"}
        %span{:itemprop=>"title"}= @subject.code
    &#47 
    =name_and_number


  %div.course_box    
    %button{:class => "button large green", :id=> "add_class_button", :type => "submit"}
      %span{:class => "hidden id"}= @course.id
      %span{:class => "font"} Add Class

    %div{:id => "course_num"}
      =name_and_number    
     
    %div{:id => "course_name"}
      =@course.title
    %div{:id => "hours"}  
      = @course.credit_hours.to_s + " credit hours"
    
    %p{:id => "course_description"}
      =@course.description

  
  %ul#tabs
    -for type in @types_of_sections
      %li.tab_headers              
        =link_to type, "#"+type

 
  %div.sections_table
    -for type in @types_of_sections      
      %div{:class => "tabContent", :id => "#{type}"}       
        %table.zebra                            
          %th.tab_columns
            Time
          %th.tab_columns
            Days
          %th.tab_columns
            Professor
          %th.tab_columns
            Building
          %th.tab_columns
            Section      
          -for meeting in @meetings            
            -if type == meeting.class_type
              %tr
                %td.table_data
                  -if !meeting.start_time.nil? and !meeting.end_time.nil?                               
                    = meeting.duration_s            
                %td.table_data
                  -if !meeting.days.nil?  
                    = meeting.days            
                %td.table_data
                  -if !meeting.instructors.first.nil?  
                    = meeting.instructors.first.full_name
                %td.table_data
                  -if !meeting.building.nil? 
                    = meeting.building.name
                %td#hack.table_data
                  -if !meeting.section.code.nil?  and meeting.section.code != "NO CODE" 
                    = meeting.section.code


