/* The Course Page */
= content_for :title, "#{@course.to_s} - #{@course.title} at UIUC"
:javascript
  document.write('<style type="text/css">');    
  document.write('div.domtab div{display:none;}<');
  document.write('/s'+'tyle>');    

%div.scheduler-content  
  = javascript_include_tag "course"
  = javascript_include_tag "domtabs"
  = stylesheet_link_tag "domtabs"
  -uppercase_string = @semester.season[0,1].upcase + @semester.season[1..-1] + " " + @semester.year
  -name_and_number =  @subject.code + " " + @course.number.to_s
  %div.breadcrumb  
    = link_to  "Subjects", get_previous_url(get_previous_url(request.url))
    &#47 
    = link_to @subject.code, get_previous_url(request.url)
    &#47 
    =name_and_number


  %div.course_box    
    %button{:class => "button large green", :id=> "add_class_button", :type => "submit"}
      %span{:class => "hidden id"}= @course.id
      %span{:class => "font"} Add Class

    %div{:id => "course_num"}
      =name_and_number    
     
    %div{:id => "course_name"}
      =@course.title
    %div{:id => "hours"}  
      = @course.credit_hours.to_s + " credit hours"
    
    %p{:id => "course_description"}
      =@course.description

  -first_flag = 1;
  %div.section_tabs
    %ul{:class => "tabs"}
      -for type in @types_of_sections

        -if first_flag==0
          -first_flag=0
          %li  
            =link_to full_name(type), "#"+type

        -if first_flag==1
          -first_flag=0
          %li{:class => "active"}              
            =link_to full_name(type), "#"+type

  -first_flag = 1;    
  %div.sections_table
    %div{:class => "pill-content"}
      -for type in @types_of_sections      
        -if first_flag == 0        
          %table{:class => "zebra-striped", :id => "#{type}"}                            
            %th
              Time
            %th
              Days
            %th
              Professor
            %th
              Building
            %th
              Section      
            -for meeting in @meetings             
              -if type = meeting.section.section_type
                %tr
                  %td
                    -if !meeting.start_time.nil? and !meeting.end_time.nil?                               
                      = meeting.duration_s            
                  %td
                    -if !meeting.days.nil?  
                      = meeting.days            
                  %td
                    -if !meeting.instructors.first.nil?  
                      = meeting.instructors.first.full_name
                  %td
                    -if !meeting.building.nil?  
                      = meeting.building[1..-1]
                  %td
                    -if !meeting.section.code.nil?  
                      = meeting.section.code
        -if first_flag == 1
          -first_flag = 0        
          %table{:class => "zebra-striped active", :id => "#{type}"}                            
            %th
              Time
            %th
              Days
            %th
              Professor
            %th
              Building
            %th
              Section      
            -for meeting in @meetings             
              -if type = meeting.section.section_type
                %tr
                  %td
                    -if !meeting.start_time.nil? and !meeting.end_time.nil?               
                      = meeting.duration_s            
                  %td
                    -if !meeting.days.nil?  
                      = meeting.days            
                  %td
                    -if !meeting.instructors.first.nil?  
                      = meeting.instructors.first.full_name
                  %td
                    -if !meeting.building.nil?  
                      = meeting.building[1..-1]
                  %td
                    -if !meeting.section.code.nil?  
                      = meeting.section.code


    %div.domtab
      %ul.domtabs
        %li
          %a{:href => "#mavis"}
            MAVIS!          
        %li
          %a{:href => "#grey"}          
            GRAY!
          
      %div
        %h2      
          %a{:name=>"mavis", :id=>"mavis"}
        %p
          I am a DOG
        %p
          %a{:href=>"#top"}
            back to menu
      %div
        %h2      
          %a{:name=>"grey", :id=>"grey"}
        %p            
          I am a CAT
        %p
          %a{:href=>"#top"}
            back to menu



