%div.scheduler-content 
  %div.subject_list 
    -uppercase_string = @semester.season[0,1].upcase + @semester.season[1..-1] + " " + @semester.year
    = content_for :title, "#{uppercase_string} Courses at University of Illinois Urbana Champaign"
    -alphabet = ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","P","R","S","T","U","V","W","Y","Z"]          
    %div{:class => "pagination pag"}
      -for letter in alphabet
        %li
          =link_to letter, "#"+letter
    %div.catalog_title
      =uppercase_string  + " Courses"

    %table{:class => "major_table"}   
      -counter=0 
      -index_counter=0      
      -first_letter = "A"
      -for subject in @semester.subjects  
        -if first_letter != subject.code[0]
          -first_letter = subject.code[0]
          %tr.break
            %td
              <br>                                  
            %td
              <br>                                  
        -if counter==@pagination_indeces[index_counter+1][0]-2
          -index_counter+=1
          %tr
            %td 
              %a{:name => "#{@pagination_indeces[index_counter][1]}"}
        -else
          -logger.info("*****************************************************")
          -logger.info(counter)
          -logger.info(@pagination_indeces[index_counter])
          -logger.info(pp @pagination_indeces)
              
        %tr      
          %td{:class => 'major_cells'}
            = subject.code
          %td{:class => 'major_cells2'}                  
            = link_to subject.title, show_subject_path(:year => @semester.year, :season => @semester.season, :subject_code => subject.code)    
        -counter+=1
