= content_for :title, "#{@prof.name} UIUC"
= content_for :meta_description, "Professor Ratings for #{@prof.name} at UIUC who teaches #{@prof.print_courses}"
%div.scheduler-content
  %div{:class=>"course_box prof-box"}
    %div{ :class=>"prof-img" }
    %div.prof-info
      %span.prof-name= @prof.name
      %div{ :class=>"rating", "data-value" => (@prof.easy || 0)}
        %div{ :class=>"rating-type"} Easiness
        %div{ :class=>"stars fg" }
        %div{ :class=>"stars bg" }
      %div{ :class=>"rating", "data-value" => (@prof.avg || 0)}
        %div{ :class=>"rating-type"} Average
        %div{ :class=>"stars fg" }
        %div{ :class=>"stars bg" }
    %div.classes
      %div.classes-title Classes
      - @prof.courses.each do |course|
        =link_to course.to_s, show_course_path( course.semester.year, course.semester.season, course.subject_code, course.number )

  =javascript_include_tag "ratings.js"
