<!DOCTYPE html>
%html
  %head
    %title= yield(:title)
    -# stylesheet_link_tag    "bootstrap.min.css"
    = stylesheet_link_tag    "application" 
    = csrf_meta_tags
    = javascript_tag          "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? 
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20351006-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      var mpq=[];mpq.push(["init","bb1def555e19685e6bdc321a2d28c41f"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();

    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" 
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" 
    = javascript_include_tag "jquery.tipsy", "init", "bootstrap-modal.js", "bootstrap-alerts.js", "bootstrap-dropdown.js", "bootstrap-modal.js", "bootstrap-tabs.js" , "slides.min.jquery.js", "general/alert", "http://connect.facebook.net/en_US/all.js", "general/fb_button"
  %body
    %div#fb-root
    %div#wrapper
      = render "shared/header"             
      = yield
    %div#footer
      = render "shared/footer"
